<div id="header">
  <span id="logo">
  <b>Daily</b>Ideas
  </span>
  <span class="nav"> 
    <a href="">Home</a>
  </span>
</div>

<div id="main">
  
  <h1>DailyIdeas</h1>

  
  <div id="new_item_button">Feed me</div>
  
  <div id="new_item_box" style="display:none">
    <input id="new_post_title" class="defaultText" value="Title" alt="Title" />
    <input id="new_post_url" class="defaultText" value="URL (optional)" alt="URL" />
    <textarea id="new_post_body" class="defaultText" alt="omg on cross campus">say something</textarea>
    <button id="submit_post">Submit!</button>
  </div>


  <div class="postbox">
    <h2 class="post_title">Best idea ever</h2>
    <p class="post_body">It will be revealed, but only to those who follow the link.</p>
    <p class="post_url"><a href="http://www.placekitten.com/">>></a></p>
    <div class="post_time">4 hours ago</div>
    <div class="votebox">UP <hr> DOWN </div>
  </div>
  
 

</div>
